[submodule "sites/all/modules/queen_attack_module.git"]
	path = sites/all/modules/queen_attack_module.git
	url = https://github.com/pfiore/queen_attack_module.git
[submodule "shift_cipher_module"]
	path = shift_cipher_module
	url = https://github.com/pfiore/shift_cipher_module.git
